#control-kit{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    clear: both;
    pointer-events: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #AEB5B8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

#control-kit ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#control-kit label{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Input Atomics
/*--------------------------------------------------------------------------------------------------------------------*/

#control-kit button{
    box-sizing: border-box;
    height: 25px;
    border-radius: 2px;
    line-height: 21px;
    outline: none;

    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(0,0,0,0.50);
    text-transform: uppercase;

    background: #383838;
    border: 1px solid #1A1A1A;
    box-shadow: inset 0 1px 0 0 #424242;

    cursor: pointer;
}

#control-kit input,
#control-kit .slider{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 25px;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(0,0,0,0.50);
    width: 100%;
    outline: none;
}

#control-kit input[type="text"],
#control-kit input[type="number"],
#control-kit .input-background,
#control-kit .slider{
    box-sizing: border-box !important;
    background-image: linear-gradient(-180deg, #212121 0%, #1F1F1F 100%);
    border: 1px solid #1A1A1A;
    border-radius: 2px;
    padding: 0 8px;
}

#control-kit input[type="number"]{
    padding-right: 2px;
}

#control-kit input[type="text"].readonly,
#control-kit input[type="number"].readonly{
    border: 1px solid #1E2224;
    border-radius: 2px;
    background-image: none;
    background: transparent;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Panel
/*--------------------------------------------------------------------------------------------------------------------*/

#control-kit .panel{
    position: relative;
    float: right;;
    width: 300px;
    background: #2E2E2E;
    border-radius: 2px;
    overflow: hidden;
    pointer-events: auto;

    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
}

#control-kit .panel.collapse .group-list{
    display: none;
}

#control-kit .panel-head{
    box-sizing: border-box;
    height: 30px;
    background: #1A1A1A;
    font-weight: bold;
    padding: 2px 13px;
}

#control-kit .panel-head label{
    display: inline-block;
    text-transform: capitalize;
    height: inherit;
    line-height: 26px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #65696B;
    width: 60%;
}

#control-kit .head-menu{
    float: right;
    width: 40%;
    padding: 3px 0;
}

#control-kit .head-menu button{
    float: right;
    margin: 0 0 0 2px;
    height: 20px;
    line-height: 12px;

    font-size: 10px;
    color: #65696B;

    border: 1px solid #131313;
    box-shadow: inset 0 1px 0 0 #212527;
    background: #1A1A1A;
}

#control-kit .head-menu .btn-close{
    width: 20px;
    background-image: url('assets/images/arrow-up-dark.svg');
    background-repeat: no-repeat;
    background-position: center;
}

#control-kit .panel.collapse .head-menu .btn-close{
    background-image: url('assets/images/arrow-down-dark.svg');
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Group
/*--------------------------------------------------------------------------------------------------------------------*/

#control-kit .group-list{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    box-shadow: inset 0 1px 0 0 #363636;
    overflow:hidden;
}

#control-kit .group{

}

#control-kit .group-head{
    box-sizing: border-box;
    background-color: #383838;
    box-shadow: inset 0 1px 0 0 #424242,inset 0 -1px 0 0 #1E2224;
    height: 45px;
}

#control-kit .group-head label{
    height: 43px;
    line-height: 44px;
    padding: 0 13px;
    color: white;
    font-weight: bold;
}

#control-kit .group-head.hide{
    display: none;
}

#control-kit .sub-group-list{
    overflow: hidden;
}

#control-kit .group-head,
#control-kit .sub-group-head,
#control-kit .btn-preset{
    background-image: url("assets/images/arrow-down.svg");
}

#control-kit .group.collapse .group-head,
#control-kit .sub-group.collapse .sub-group-head,
#control-kit .btn-preset.collapse{
    background-image: url("assets/images/arrow-up.svg");
}

#control-kit .group.collapse .sub-group-list,
#control-kit .sub-group.collapse .component-list{
    display: none;
}


#control-kit .group-head,
#control-kit .sub-group-head{
    background-repeat: no-repeat;
    background-position: right 13px center;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Sub-Group
/*--------------------------------------------------------------------------------------------------------------------*/

#control-kit .sub-group-head{
    box-shadow: inset 0 -1px 0 0 #363636;
    background-color: #272727;
    height: 31px;
    padding: 0 13px;
    clear: both;
}

#control-kit .sub-group-head label{
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    height: 31px;
    line-height: 29px;
    float: left;
}

#control-kit .sub-group-head button{
    height: 31px;
    float: right;
    border: none;
    background: none;
    box-shadow: none;
}

#control-kit .component-list{
    overflow: hidden;
}

#control-kit .sub-group-head.hide{
    display: none;
}

#control-kit .sub-group.collapse .sub-group-head {
    box-shadow: inset 0 -1px 0 0 #1E2224;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Component
/*--------------------------------------------------------------------------------------------------------------------*/

#control-kit .component {
    box-sizing: border-box;
    padding: 5px 13px;
    clear: both;
    width: 100%;
    height: 37px;

    box-shadow: inset 0 -1px 0 0 #1E2224;
}

#control-kit .component{
    float: left;
    line-height: 27px;
}

#control-kit .component.hide-label label{
    display: none;
}

#control-kit .component.hide-label .input-wrap{
    width: 100% !important;
}

/* Type-Text */

#control-kit .component.type-text{
    height: auto;
}

#control-kit .component.type-text p{
    color: #858A8C;
    line-height: 1.45;
}

#control-kit .component.type-text p:first-of-type{
    margin-top: 8px;
}

/* Type-Input */

#control-kit .component.type-input label{
    width: 30%;
}

#control-kit .input-wrap {
    position: relative;
    float: right;
    width: 70%;
}

#control-kit .input-wrap .input-background{
    display: block;
    width: 100%;
    height: 25px;
    padding: 0;
}

#control-kit .input-background .color-batch{
    width: 100%;
    height: 23px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    text-shadow: 0 1px 1px #000000;
    border-radius: 1px;
    overflow: hidden;
}

#control-kit .input-wrap button{
    width: 100%;
}

/* Type-Input Slider */

#control-kit .slider{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 25px;
}

#control-kit .slider-track{
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
}

#control-kit .slider-handle{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    /* Rectangle 4: */
    background-image: linear-gradient(-180deg, #B50839 0%, #9C0631 100%);
}

/* Type-Input Preset */

#control-kit .input-wrap-preset{
    position: absolute;
    left: 0;
    right: 19px;
}

#control-kit .input-wrap-preset input[type="text"],
#control-kit .input-wrap-preset input[type="number"]{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#control-kit .input-wrap .btn-preset{
    position: absolute;
    width: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center center;
}

#control-kit .input-wrap.range label{
    display: block;
    box-sizing: border-box;
    width: 20%;
    text-transform: uppercase;
    text-align: center;
    float: left;
}

#control-kit .input-wrap.range input{
    box-sizing: border-box;
    width: 30%;
    text-align: center;
    padding-left: 10px;
    float: left;
}

/* Type-Input Select */

#control-kit .btn-select{
    text-shadow: 0 1px 1px rgba(0,0,0,0.50);
    text-transform: none;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    padding: 0 8px;
    background-image: url("assets/images/arrow-up-down.svg");
    background-repeat: no-repeat;
    background-position: right 6px center;
}