#control-kit{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    clear: both;
    pointer-events: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #AEB5B8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

#control-kit ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#control-kit label{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Input Atomics
/*--------------------------------------------------------------------------------------------------------------------*/

#control-kit img{
    width: 100%;
    vertical-align: bottom;
}

#control-kit button{
    box-sizing: border-box;
    height: 25px;
    border-radius: 2px;
    line-height: 21px;
    outline: none;

    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(0,0,0,0.50);
    text-transform: uppercase;

    background: #383838;
    border: 1px solid #1A1A1A;
    box-shadow: inset 0 1px 0 0 #424242;

    cursor: pointer;
}

#control-kit button:hover{
    background: #3d3d3d;
}

#control-kit button:active{
    box-shadow: inset 0 1px 0 0 #383838;
    background: #2b2b2b;
}

#control-kit input,
#control-kit textarea,
#control-kit .slider{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 25px;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(0,0,0,0.50);
    width: 100%;
    outline: none;
}

#control-kit input[type="text"],
#control-kit input[type="number"],
#control-kit textarea,
#control-kit .input-background,
#control-kit .slider{
    box-sizing: border-box !important;
    background-image: linear-gradient(-180deg, #212121 0%, #1F1F1F 100%);
    border: 1px solid #1A1A1A;
    border-radius: 2px;
    padding: 0 8px;
}

#control-kit .input-background canvas,
#control-kit .input-background svg{
    width: 100%;
    vertical-align: bottom;
}

#control-kit textarea{
    resize: vertical;
    padding-top: 4px;
    padding-bottom: 6px;
    height: auto;
    min-height: 25px;
    margin-bottom: 0;
    /*vertical-align: bottom;*/
    /*firefox*/
    overflow:-moz-scrollbars-none;
}

#control-kit textarea::-webkit-scrollbar{
    display: none;
}


#control-kit input[type="number"],
#control-kit textarea{
    padding-right: 2px;
}

#control-kit input[type="text"].readonly,
#control-kit input[type="number"].readonly,
#control-kit textarea.readonly{
    border: 1px solid #1E2224;
    border-radius: 2px;
    background-image: none;
    background: transparent;
}

#control-kit input[type="checkbox"]{
    height: auto;
}

#control-kit.non-selectable{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#control-kit canvas{
    vertical-align: bottom;
}

#control-kit canvas:focus{
    outline: none;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Panel
/*--------------------------------------------------------------------------------------------------------------------*/

#control-kit .panel{
    position: relative;
    float: right;;
    width: 300px;
    background: #2E2E2E;
    border-radius: 2px;
    overflow: hidden;
    pointer-events: auto;

    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
}

#control-kit .panel.hide{
    display: none;
}

#control-kit .panel.fixed{
    position: absolute;
}

#control-kit .panel.dragging{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#control-kit .panel.collapse .group-list,
#control-kit .panel.collapse .scroll-wrap{
    display: none;
}

#control-kit .panel-head{
    box-sizing: border-box;
    height: 30px;
    background: #1A1A1A;
    font-weight: bold;
    padding: 2px 13px;
    overflow: hidden;
}

#control-kit .panel-head label{
    display: inline-block;
    text-transform: capitalize;
    height: inherit;
    line-height: 26px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #65696B;
    width: 60%;
}

#control-kit.state-load-save-disabled .head-menu .head-state{
    display: none;
}

#control-kit .head-menu{
    float: right;
    width: 40%;
    padding: 3px 0;
}

#control-kit .head-menu button{
    float: right;
    margin: 0 0 0 2px;
    height: 20px;
    line-height: 12px;

    font-size: 10px;
    color: #65696B;

    border: 1px solid #131313;
    box-shadow: inset 0 1px 0 0 #212527;
    background: #1A1A1A;
}

#control-kit .head-menu .btn-close{
    width: 20px;
    background-image: url('assets/images/arrow-up-dark.svg');
    background-repeat: no-repeat;
    background-position: center;
}

#control-kit .panel.collapse .head-menu .btn-close{
    background-image: url('assets/images/arrow-down-dark.svg');
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Scroll-Bar
/*--------------------------------------------------------------------------------------------------------------------*/

#control-kit .scroll-wrap{
    position: relative;
    overflow: hidden;
}

#control-kit .scroll-wrap .scroll-container{
    position: relative;
    margin-right: 15px;
    overflow: hidden;
}

#control-kit .scroll-bar {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 15px;
    background: #1F1F1F;
    box-shadow: inset 1px 0px 0px 0px #1c1c1c;
}

#control-kit .scroll-track{
    position: absolute;
    top : 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
}

#control-kit .scroll-handle{
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 30px;
    border-radius: 16px;
    background: #383838;
    border: 1px solid #1A1A1A;
    box-shadow: inset 0px 2px 0px 0px #424242;
    cursor: default;
}

#control-kit .group .scroll-wrap .input-wrap input,
#control-kit .sub-group .scroll-wrap .input-wrap input{
    width: calc(100% - 5px); /* inset by scroll-bar width / 2 */
}

#control-kit .group .scroll-wrap .sub-group .scroll-wrap .input-wrap input{
    width: calc(100% - 10px); /* inset by scroll-bar width */
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Options
/*--------------------------------------------------------------------------------------------------------------------*/

#control-kit .component-options{
    box-sizing: border-box;
    position: absolute;
    max-width: 300px;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #fff;
    background: #383838;
    z-index: 2;
    border: 1px solid #1A1A1A;
    box-shadow: inset 0 1px 0 0 #424242;
    border-radius: 0 0 2px 2px;
    cursor: pointer;
    pointer-events:auto;
}

#control-kit .component-options.hide{
    display: none;
}

#control-kit .component-options li{
    width: 100%;
    min-height: 25px;
    font-size: 12px;
    overflow: hidden;
}

#control-kit .component-options li:first-of-type:hover,
#control-kit .component-options li:first-of-type.selected{
    box-shadow: inset 0px 1px 0px 0px #383838;
}

#control-kit .component-options li:hover,
#control-kit .component-options li.selected{
    background: #2E2E2E;
}

#control-kit .component-options li.primitive{
    box-sizing: border-box;
    padding: 6px 9px 5px 8px;

}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Group
/*--------------------------------------------------------------------------------------------------------------------*/

#control-kit .group-list{
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    box-shadow: inset 0 1px 0 0 #363636;
    overflow:hidden;
}

#control-kit .group{

}

#control-kit .group-head{
    box-sizing: border-box;
    background-color: #383838;
    box-shadow: inset 0 1px 0 0 #424242,inset 0 -1px 0 0 #1E2224;
    height: 45px;
}

#control-kit .group-head label{
    height: 43px;
    line-height: 44px;
    padding: 0 13px;
    color: white;
    font-weight: bold;
}

#control-kit .group-head.hide{
    display: none;
}

#control-kit .sub-group-list{
    overflow: hidden;
}

#control-kit .group-head,
#control-kit .sub-group-head,
#control-kit .btn-preset,
#control-kit .btn-preset:hover{
    background-image: url("assets/images/arrow-down.svg");
}

#control-kit .group.collapse .group-head,
#control-kit .sub-group.collapse .sub-group-head,
#control-kit .btn-preset.collapse{
    background-image: url("assets/images/arrow-up.svg");
}

#control-kit .group.collapse .sub-group-list,
#control-kit .sub-group.collapse .component-list{
    display: none;
}


#control-kit .group-head,
#control-kit .sub-group-head{
    background-repeat: no-repeat;
    background-position: right 13px center;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Sub-Group
/*--------------------------------------------------------------------------------------------------------------------*/

#control-kit .sub-group{
    position: relative;
}

#control-kit .sub-group-head{
    box-shadow: inset 0 -1px 0 0 #1E2224;
    background-color: #272727;
    height: 30px;
    padding: 0 13px;
    clear: both;
}

#control-kit .sub-group-head label{
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    height: 30px;
    line-height: 29px;
    float: left;
}

#control-kit .sub-group-head button{
    height: 30px;
    float: right;
    border: none;
    background: none;
    box-shadow: none;
}

#control-kit .component-list{
    overflow: hidden;
    position: relative;
}

#control-kit .sub-group-head.hide{
    display: none;
}

#control-kit .sub-group.collapse .sub-group-head {
    box-shadow: inset 0 -1px 0 0 #1E2224;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Component-Base
/*--------------------------------------------------------------------------------------------------------------------*/

#control-kit .component {
    box-sizing: border-box;
    padding: 5px 13px;
    clear: both;
    width: 100%;
    min-height: 37px;
    box-shadow: inset 0 -1px 0 0 #1E2224;
}

#control-kit .component-list .component:first-of-type{
    box-shadow: inset 0 1px 0 0 #363636, inset 0 -1px 0 0 #1E2224;
}

#control-kit .component{
    float: left;
    line-height: 27px;
}

#control-kit .component.hide-label label{
    display: none;
}

#control-kit .component.hide-label .input-wrap{
    width: 100% !important;
}

/* Type-Text */

#control-kit .component.type-text{
    height: auto;
}

#control-kit .component.type-text p{
    color: #858A8C;
    line-height: 1.45;
}

#control-kit .component.type-text p:first-of-type{
    margin-top: 8px;
}

/* Type-Input */

#control-kit .component.type-input label{
    width: 30%;
}

#control-kit .input-wrap {
    position: relative;
    float: right;
    width: 70%;
}

#control-kit .input-wrap .input-background{
    position: relative;
    display: block;
    width: 100%;
    min-height: 25px;
    padding: 2px;
}

#control-kit .input-background .color-batch{
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;

    color: #fff;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    text-shadow: 0 1px 1px #000000;
    border-radius: 1px;
    overflow: hidden;
}

#control-kit .input-wrap button{
    width: 100%;
}

#control-kit .component .input-wrap input[type="number"]{
    float: right;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Component Preset
/*--------------------------------------------------------------------------------------------------------------------*/

#control-kit .input-wrap-preset{
    position: absolute;
    left: 0;
    right: 19px;
}

#control-kit .input-wrap-preset input[type="text"],
#control-kit .input-wrap-preset input[type="number"]{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#control-kit .input-wrap .btn-preset{
    position: absolute;
    width: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center center;
}

#control-kit .input-wrap.range label{
    display: block;
    box-sizing: border-box;
    width: 20%;
    text-transform: uppercase;
    text-align: center;
    float: left;
}

#control-kit .input-wrap.range input{
    box-sizing: border-box;
    width: 30%;
    text-align: center;
    padding-left: 10px;
    float: left;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Component Slider
/*--------------------------------------------------------------------------------------------------------------------*/

#control-kit .slider{
    position: absolute;
    left: 0;
    right: 20px;
    height: 25px;
    cursor: ew-resize;
}

#control-kit .slider-track{
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
}

#control-kit .slider-handle{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-180deg, #B50839 0%, #9C0631 100%);
}

#control-kit .wrap-slider{
    position: absolute;
    left: 0;
    right: 50px;
}

#control-kit .slider-wrap-number input[type="number"]{
    width: 46px;
    float: right;
    padding-left: 0;
    text-align: center;
}

#control-kit .slider-wrap-number input[type="number"]::-webkit-outer-spin-button,
#control-kit .slider-wrap-number input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#control-kit .slider-wrap-number input[type="number"]{
    -moz-appearance:textfield;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Component Select
/*--------------------------------------------------------------------------------------------------------------------*/

#control-kit .btn-select{
    text-shadow: 0 1px 1px rgba(0,0,0,0.50);
    text-transform: none;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    padding: 0 18px 0 8px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#control-kit .btn-select,
#control-kit .btn-select:hover{
    background-image: url("assets/images/arrow-up-down.svg");
    background-repeat: no-repeat;
    background-position: right 6px center;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Component Pad
/*--------------------------------------------------------------------------------------------------------------------*/

#control-kit .svg-pad{
    cursor: pointer;
}

#control-kit .svg-pad .axes{
    stroke: #1A1A1A;
}

#control-kit .svg-pad .handle{
    fill: #fff;
}

#control-kit .svg-pad .handle-shadow{
    fill: #000;
}

#control-kit .svg-pad .handle-axes{
    stroke: #363636;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Component Function Plotter
/*--------------------------------------------------------------------------------------------------------------------*/

#control-kit .svg-function-plotter{

}

#control-kit .svg-function-plotter .axes{
    stroke: #1A1A1A;
}

#control-kit .svg-function-plotter .function-graph{
    stroke: #FF4848;
    stroke-width: 2px;
    fill: #FF4848;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Color-Picker
/*--------------------------------------------------------------------------------------------------------------------*/

#control-kit #control-kit-color-picker{
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    z-index: 10;
}

#control-kit-color-picker.hide{
    display: none;
}

#control-kit-color-picker input[type="number"]::-webkit-outer-spin-button,
#control-kit-color-picker input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#control-kit-color-picker input[type="number"] {
    -moz-appearance:textfield;
    padding: 0;
    text-align: center;
}

#control-kit-color-picker .color-picker-wrap{
    padding: 10px 11px;
}

#control-kit-color-picker .color-picker-settings{
    text-align: left;
    overflow: hidden;
}

#control-kit-color-picker .color-picker-settings .input-background,
#control-kit-color-picker .color-components{
    float: left;
}

#control-kit-color-picker .color-picker-settings .input-background{
    padding: 0;
}

#control-kit-color-picker .color-space-slider,
#control-kit-color-picker .color-hue-slider,
#control-kit-color-picker .color-components{
    height: 160px;
}

#control-kit-color-picker .color-space-slider,
#control-kit-color-picker .color-hue-slider{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

#control-kit-color-picker .color-slider {
    position: absolute;
    border: 2px solid #fff;
    box-shadow: 0 1px black,0 1px #000 inset;
    cursor: pointer;
}

/* Color Space */

#control-kit-color-picker .color-space-slider{
    position: relative;
    width: 160px;
}

#control-kit-color-picker .color-space {
    position: absolute;
    top: 2px;
    left: 2px;
}

#control-kit-color-picker .color-space canvas{
    background: #333;
    width: 154px;
    height: 154px;
}

#control-kit-color-picker .color-space .color-slider {
    top: 0;
    width: 8px;
    height: 8px;
    margin-left: -6px;
    margin-top: -6px;
    border-radius: 8px;
}

/* Color Hue */

#control-kit-color-picker .color-hue-slider{
    position: relative;
    margin-left: 4px;
    width: 30px
}

#control-kit-color-picker .color-hue{
    position: absolute;
    top: 2px;
    left: 2px;
}

#control-kit-color-picker .color-hue .color-slider{
    top: 0;
    margin-left: -2px;
    margin-top: -2px;
    width: 14px;
    height: 3px;
    border-radius: 8px;
}

#control-kit-color-picker .color-hue .color-slider:before,
#control-kit-color-picker .color-hue .color-slider:after{
    content: '';
    width: 0;
    height: 0;
    border-top: 4.5px solid transparent;
    border-bottom: 4.5px solid transparent;
    float: right;
    position: absolute;
    left: 19px;
}

#control-kit-color-picker .color-hue .color-slider:before{
    border-right: 4px solid #000;
    top: -3px;
}

#control-kit-color-picker .color-hue .color-slider:after{
    border-right: 4px solid #fff;
    top: -2px;
}

#control-kit-color-picker .color-hue canvas{
    background: #333;
}

/* Color Components */

#control-kit-color-picker .color-components{
    position: relative;
    margin-left: 4px;
    width: 150px;
    display: block;
    box-sizing: border-box;
    border: 1px solid #1A1A1A;
    border-radius: 2px;
    padding: 0;
}

#control-kit-color-picker ul{
    padding: 5px 10px 4px 0;
    clear: both;
}

#control-kit-color-picker li{
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding-bottom: 4px;
}

#control-kit-color-picker li.color-compare{
    width: 100%;
    clear: both;
}

#control-kit-color-picker .color-compare .input-background{
    position: relative;
    width: 80%;
    min-height: 25px;
    float: right;
    padding: 1px;
}

#control-kit-color-picker .color-input-wrap{
    position: absolute;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    border-top: 1px solid #1A1A1A;
    padding: 5px 10px;
}

/* Color Compare */

#control-kit-color-picker .color-compare-left,
#control-kit-color-picker .color-compare-right {
    width: 50%;
    position: absolute;
    top: 1px;
    bottom: 1px;
}

#control-kit-color-picker .color-compare-left {
    background: #888;
    left: 1px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}

#control-kit-color-picker .color-compare-right {
    background: #333;
    right: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}

#control-kit-color-picker li label{
    float: left;
    line-height: 25px;
    display: block;
    width: 40%;
    text-align: center;
    font-weight: bold;
}

/* Color Input */

#control-kit-color-picker li input[type="number"]{
    display: block;
    float: right;
    width: 60%;
}

#control-kit-color-picker .color-input{
    width: 86%;
    text-align: center;
    padding: 0;
    margin: 0;
    float: right;
}

/* Color Controls */

#control-kit-color-picker .color-picker-controls{
    padding-top: 10px;
    text-align: right;
}

#control-kit-color-picker button{
    display: inline-block;
    margin-right: 0;
    margin-left: 5px;
    width: 71px;
}