<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }
    </style>
    <script type="text/javascript" src="../../bin/controlKit.js"></script>
    <script type="text/javascript">
        window.addEventListener('load',function(){
            var controlKit = new ControlKit();
            controlKit.addPanel().addButton('play',function(){
                console.log(this);

                if(this.getButtonLabel().toLowerCase() === 'play'){
                    this.setButtonLabel('pause');
                } else {
                    this.setButtonLabel('play')
                }
            },{
                label : 'Push it'
            });
        });
    </script>
</head>
<body>
</body>
</html>