<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }
    </style>
    <script type="text/javascript" src="../../bin/controlKit.js"></script>
    <script type="text/javascript">
        window.addEventListener('load',function(){
            var obj = {
                color0 : '#ff00ff',
                color1 : [1,0,1],
                color2 : [255,0,255]
            };
            var controlKit = new ControlKit();
            controlKit.addPanel()
                    .addColor(obj,'color0')
                    .addColor(obj,'color1',{colorMode:'rgbfv'})
                    .addColor(obj,'color2',{colorMode:'rgb', onChange: function(){console.log('color changed');}});
        });
    </script>
</head>
<body>
</body>
</html>