<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }
    </style>
    <script type="text/javascript" src="../../bin/controlKit.js"></script>
    <script type="text/javascript">
        var obj = {
            func0 : function(x){
                return Math.sin(x);
            },
            func1 : function(x,y){
                return Math.cos(x * 12.5) * Math.sin(y * 25);
            }
        };

        window.addEventListener('load',function(){
            var controlKit = new ControlKit();
            controlKit.addPanel()
                    .addFunctionPlotter(obj,'func0')
                    .addFunctionPlotter(obj,'func1');

        });
    </script>
</head>
<body>
</body>
</html>