<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }
    </style>
    <script type="text/javascript" src="../../bin/controlKit.js"></script>
    <script type="text/javascript">
        window.addEventListener('load',function(){
            var obj = {
                num : 123
            };

            var controlKit = new ControlKit();
            controlKit.addPanel().addNumberInput(obj,'num',{
                                    label: 'Number', // replace key label with custom one
                                    onBegin : function(value){
                                        console.log('Previous value:',value);
                                    },
                                    onChange : function(value){  // on enter
                                        console.log('Value changed!','I can even access it',value);
                                    },
                                    onFinish : function(){
                                        console.log('Enter!');
                                    },
                                    onError : function(code){
                                        console.log('Wrong input.',code,'is to blame.')
                                    },
                                    dp : 4, // display 4 digits after the decimal point
                                    step : 10, // amount subbed/added on arrowKeyDown/arrowKeyUp
                                    presets : [0,1,2] // presets
                                    });
        });
    </script>
</head>
<body>
</body>
</html>