<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="../../bin/controlKit.js"></script>
    <script type="text/javascript">
        window.addEventListener('load',function(){
            var obj = {
                num : 123
            };

            ControlKit.setup();
            ControlKit.addPanel().addNumberInput(obj,'num',{
                                    label: 'Number', // replace key label with custom one
                                    onChange : function(){  // on enter
                                        console.log('onChange');
                                    },
                                    dp : 4, // display 4 digits after the decimal point
                                    step : 10, // amount subbed/added on arrowKeyDown/arrowKeyUp
                                    presets : [0,1,2] // presets
                                 });
        });
    </script>
</head>
<body>
</body>
</html>