<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }
    </style>
    <script type="text/javascript" src="../../bin/controlKit.js"></script>
    <script type="text/javascript">
        window.addEventListener('load',function(){
            var obj = {
                value : [0,0]
            };

            var controlKit = new ControlKit();
            controlKit.addPanel().addPad(obj,'value',{
                onChange:function(){console.log('drag');},
                onFinish:function(){console.log('done');}});

        });
    </script>
</head>
<body>
</body>
</html>