<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }
    </style>
    <script type="text/javascript" src="../../bin/controlKit.js"></script>
    <script type="text/javascript">
        window.addEventListener('load',function(){
            var obj = {
                number: 0,
                range : [-1,1]
            };

            var controlKit = new ControlKit();
            controlKit.addPanel()
                    .addSlider(obj,'number','range')
                    .addRange(obj,'range');
        });
    </script>
</head>
<body>
</body>
</html>