<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }
    </style>
    <script type="text/javascript" src="../../bin/controlKit.js"></script>
    <script type="text/javascript">
        window.addEventListener('load',function(){
            var obj = {
                str : 'abc'
            };

            var controlKit = new ControlKit();
            controlKit.addPanel().addStringOutput(obj,'str',{
                                    label: 'String' // replace key label with custom one
                                  });
        });
    </script>
</head>
<body>
</body>
</html>