<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }
    </style>
    <script type="text/javascript" src="../../bin/controlKit.js"></script>
    <script type="text/javascript">
        window.addEventListener('load',function(){
            var obj = {
                value : 0
            };

            var controlKit = new ControlKit();
            controlKit.addPanel().addValuePlotter(obj,'value');

            window.requestAnimationFrame = window.requestAnimationFrame ||
            window.mozRequestAnimationFrame ||
            window.oRequestAnimationFrame ||
            window.msRequestAnimationFrame;

            var step = 0;
            (function update(){
                obj.value = Math.sin((step++) * 0.125);
                controlKit.update();
                requestAnimationFrame(update,null);
            })()
        });
    </script>
</head>
<body>
</body>
</html>