$fontFamily: arial,sans-serif;
$fontSizeInput: 11px;

$fontShadowDefault : 1px 1px #000;

$borderBottomDrop: 1px solid #3b4447;

$borderRadiusPanel   : 1px;
$borderRadiusDefault : 2px;

$compHeightDefault : 25px;
$compBorderBottom  : 1px solid #3b4447;
$compBorderRadius  : 2px;
$compInsetShadow   : 0 0 1px 2px rgba(0,0,0,0.0125) inset,
                     0 0 1px 1px #111314 inset;
$compFontSize: 11px;

/*-------------------------------------------------------------------------------------
 * Panel
 *-------------------------------------------------------------------------------------*/

$panelColorBg      : #303639;
$panelBorderRadius : 1px;
$panelBoxShadow    : 0 0 1px 1px rgba(0,0,0,0.95);

$panelHeadColor : #1a1d1f;

/*-------------------------------------------------------------------------------------
 * Canvas
 *-------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
 * Input & textarea
 *-------------------------------------------------------------------------------------*/

$inputHeight: $compHeightDefault;
$inputPadding: 0 0 0 8px;

$inputBoxShadow: 0 0 1px 2px rgba(0,0,0,0.0125) inset,
                 0 0 1px 1px #111314 inset;

$inputFontFamily     : $fontFamily;
$inputFontColor      : #fff;
$inputFontSize       : 11px;
$inputFontShadow     : 1px 1px #000;

$inputColorBg:            #222729;
$inputColorText:          #fff;

$inputGradientStartColor: rgba(0,0,0,0);
$inputGradientEndColor:   rgba(0,0,0,0.125);
$inputGradientStart:      0%;
$inputGradientEnd:        100%;

$inputColorInsetTop:      rgba(0,0,0,0.0125);

$inputBorderRadius: $borderRadiusDefault;

$textareaPadding: 5px 8px 2px 8px;

/*-------------------------------------------------------------------------------------
 * Button
 *-------------------------------------------------------------------------------------*/

$buttonHeight : 28px;
$buttonMargin : -2px 0 0 0;
$buttonBorderRadius: $borderRadiusDefault;

$buttonFontFamily:    $fontFamily;
$buttonFontColor:     #fff;
$buttonFontSize:      10px;
$buttonFontWeight:    bold;
$buttonTextShadow:    0 -1px #000;
$buttonTextTransform: uppercase;

$buttonBgColor: #3c494e;

$buttonBoxShadow: 0 0 0 1px #131313 inset,
                  -1px 2px 0 0 #2a333d inset;

$buttonGradient:       rgba(34,39,41,0) 0%,
                       rgba(34,39,41,0.65) 100%;
$buttonGradientActive: rgba(0,0,0,0.1) 0%,
                       rgba(0,0,0,0) 100%;

$buttonPresetGradient: rgb(58, 70, 75) 0%,
                       rgb(44, 52, 55) 100%;

$buttonPresetWidth:      20px;
$buttonPresetHeight:     22px;
$buttonPresetBoxShadow:  0 1px 0 0 #2a333d inset;
$buttonPresetBorderLeft: 1px solid #0f1112;

$selectGradient: rgba(58, 70, 75, 1) 0%, rgba(44, 52, 55, 0) 100%;






