$fontFamily: arial,sans-serif;
$fontSizeInput: 11px;

$fontShadowDefault : 1px 1px #000;

$borderBottomDrop: 1px solid #3b4447;

$borderRadiusPanel   : 1px;
$borderRadiusDefault : 2px;

$compHeightDefault : 25px;

/*-------------------------------------------------------------------------------------
 * Panel
 *-------------------------------------------------------------------------------------*/


$panelColorBg:     #303639;
$panelShadowColor: rgba(0,0,0,0.95);
$panelBorderRadius:1px;

/*-------------------------------------------------------------------------------------
 * Input
 *-------------------------------------------------------------------------------------*/

$inputHeight: $compHeightDefault;

$inputFontFamily     :$fontFamily;
$inputFontColor      : #fff;
$inputFontSize       : 11px;
$inputFontShadowColor: #000;

$inputColorBg:            #222729;
$inputColorText:          #fff;

$inputGradientStartColor: rgba(0,0,0,0);
$inputGradientEndColor:   rgba(0,0,0,0.125);
$inputGradientStart:      0%;
$inputGradientEnd:        100%;

$inputColorInsetTop:      rgba(0,0,0,0.0125);

$inputBorderRadius: $borderRadiusDefault;

/*-------------------------------------------------------------------------------------
 * Button
 *-------------------------------------------------------------------------------------*/

$buttonHeight : 28px;
$buttonBorderRadius: $borderRadiusDefault;

$buttonFontFamily : $fontFamily;
$buttonFontColor  : #fff;
$buttonFontSize   : 10px;
$buttonFontWeight : bold;
$buttonFontShadow : 0 -1px #000;

$buttonBgColor: #3c494e;

$buttonGradientStartColor: rgba(34,39,41,0);
$buttonGradientEndColor:   rgba(34,39,41,0.65);
$buttonGradientStart: 0%;
$buttonGradientEnd:   100%;





